<?xml version="1.0"?>

<robot name="bw1097" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link"/>

  <xacro:property name="name" value="oakd"/>
  <xacro:property name="parent" value="base_link"/>

  <!-- The following values are approximate, and the camera node
    publishing TF values with actual calibrated camera extrinsic values -->
  <xacro:property name="oakd_depth_to_left_offset" value="0.090"/>
  <xacro:property name="oakd_depth_to_right_offset" value="0.0"/>
  <xacro:property name="oakd_depth_to_rgb_offset" value="0.070"/>

  <!-- TODO Correct this -->
  <!-- The following offset is relative the the physical screw mount -->
  <xacro:property name="oakd_depth_px" value="-0.045"/>
  <xacro:property name="oakd_depth_py" value="-0.00"/>
  <xacro:property name="oakd_depth_pz" value="0.02"/>

  <!-- camera body, with origin at screw mount -->
  <joint name="${name}_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${parent}"/>
    <child link="${name}_screw_frame" />
  </joint>
  <link name="${name}_screw_frame"/>

  <joint name="${name}_link_joint" type="fixed">
    <origin xyz="${oakd_depth_px} ${oakd_depth_py} ${oakd_depth_pz}" rpy="0 0 0"/>
    <parent link="${name}_screw_frame"/>
    <child link="${name}_link" />
  </joint>
  <link name="${name}_link"/>

  <!-- camera left joints and link -->
  <joint name="${name}_left_joint" type="fixed">
    <origin xyz="${oakd_depth_to_left_offset} 0 0" rpy="0 0 0" />
    <parent link="${name}_link" />
    <child link="${name}_left_frame" />
  </joint>
  <link name="${name}_left_frame"/>

  <!-- camera right joints and link -->
  <joint name="${name}_right_joint" type="fixed">
    <origin xyz="${oakd_depth_to_right_offset} 0 0" rpy="0 0 0" />
    <parent link="${name}_link" />
    <child link="${name}_right_frame" />
  </joint>
  <link name="${name}_right_frame"/>

  <!-- camera rgb joints and link -->
  <joint name="${name}_rgb_joint" type="fixed">
    <origin xyz="${oakd_depth_to_rgb_offset} 0 0" rpy="0 0 0" />
    <parent link="${name}_link" />
    <child link="${name}_rgb_frame" />
  </joint>
  <link name="${name}_rgb_frame"/>
</robot>
